body {
    font-family: sans-serif;
    padding: 20px;
}

form {
    width: 300px;
}

label {
    display: inline-block;
    width: 130px;
    margin-bottom: 10px;
}

input[type="number"] {
    width: 150px;
    margin-bottom: 10px;
}
